# Ignore the data folder(s)
data/

# Track the src folder
!src/
# Ignore system files
.DS_Store
Thumbs.db

# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environments
.env
.venv/
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Log and temporary files
*.log
*.tmp